body{
    background-image:url('./pic3.jpg');
    color:black;
    background-repeat: no-repeat;
    background-size:1500px 1000px;
    }

ul{
    list-style-type:none;
}

table{border:2px solid blacks}

#songHolder {
    font-size:20px;
    color:black;
    text-decoration:none;
    height:200px;width:90%;
    padding:10px;
    border:2px solid black;
    border-radius:10px;
    margin-bottom:20px;
    text-align:center;
}

#addSong{
    font-size:20px;
    color:black;
    text-decoration:none;
    height:100px;width:88%;
    padding:10px;
    border:2px solid black;
    border-radius:10px;
    margin-bottom:20px;
}
