{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}"/>
</head>
<body>
<h1>MUSIC CATALOG</h1>
<hr>
{% block main_content %}
{% endblock %}
{% include "polls/footer.html" %}
</body>
</html>