{% extends  'polls/base.html' %}

{% block main_content %}


<form method="post" action="{% url 'polls:post' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>


<h2>{{errMsg}}</h2>

{% endblock %}s