{% extends  'polls/base.html' %}

{% block main_content %}

{% if songs %}
<h3>Our Music Collections.</h3>
    <form method="post" action="{% url 'polls:export'%}" target="_blank">
        {% csrf_token %}
        <h3>Export in
            <select name="expType">
                <option name="JSON">JSON</option>
                <option name="XML">XML</option>
            </select>
                <button type="submit">Export</button>
        </h3>
    </form>
<form method="post" action="{% url 'polls:delSong'%}">
    {% csrf_token %}
    <table id="songHolder">
        <tr><th>Song</th><th>Artist</th><th>Album</th><th>Publisher</th><th>Select To Delete</th></tr>
        {% for eachSong in songs %}
            <tr>
                <td>{{ eachSong.title }}</td>
                <td>{{eachSong.artist}}</td>
                <td>{{eachSong.album}}</td>
                <td>{{eachSong.publisher}}</td>
                <td><input type="checkbox" name="delS" value="{{eachSong.songID}}"></td>
            </tr>
        {% endfor %}
    </table>
    <button type="submit" style="position:relative;left:1100px">Delete Selected Songs</button>
</form>


{% else %}
    <p>No songs present in the catalog!!</p>
{% endif %}

<h2>{{errMsg}}</h2>

<form method="post" action="{% url 'polls:addSong'%}" id="addSong">
    {% csrf_token %}
    <h3>Add Song to Catalog</h3>
    <h4>Title:<input type="text" name="title" required>
    Album: <input type="text" name="album" required>
    Artist: <input type="text" name="artist" required>
    Publisher: <input type="text" name="publisher" required>
    <button type="submit">Add Song</button></h4>
</form>
{% endblock %}


